<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
  {% block body_block %}
  <h1>Welcome to other page</h1>
  {% endblock %}
<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to other page</h1>
    <a href="{%url 'basic_app:relative' %}">CLICK LINK FOR RELATIVE PAGE</a>
    <br><a href="{%url 'index'%}">CLICK LINK FOR INDEX PAGE</a><br>
    <a href="{% url 'admin:index'%}">CLICK LINK FOR ADMIN PAGE</a>
  </body>
</html> -->
